/*html{
    background-color: var(--background100);
    color: var(--text100);
}*/

@font-face {
    font-family: 'Molengo';
    src: url('../fonts/Molengo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Molengo', sans-serif;
    background-color: var(--background100);
    color: var(--text100);
    font-size: 16px;
    background-image: radial-gradient(
        ellipse at top center,      /* Shape and position */
        hsl(283 60% 15%) 0%,        /* Glow color: Brighter purple (L=25%) */
        hsla(283 70% 4%) 70%     /* Fade to TRANSPARENT base color */
        /* Using hsla with 0 alpha ensures a cleaner fade edge */
    );
    background-repeat: no-repeat; /* Prevent tiling */
    background-attachment: fixed; /* Keep gradient fixed */
}

.input-error{
    font-size: 12px;
    color: red;
}

section{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

button{
    cursor: pointer;
    justify-items: center;
}

h1{
    font-size: 48px;
    text-align: center;
    margin: 20px 5px;
    font-weight: bold;
}

h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: bold;
}

h3{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

input[type="number"]{
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }

    &:focus{
        outline: none;
    }
}

.has-tooltip {
    position: relative;
}

.has-tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    white-space: nowrap;
    z-index: 10;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease, bottom 0.2s ease;
}

.has-tooltip:hover::after {
    opacity: 1;
    visibility: visible;
    bottom: 100%;
}

textarea{
    background: var(--secondary20);
    border-radius: 10px;
    border: 1px solid var(--accent-secondary20);
    padding: 10px;
    width: 100%;

    &:focus{
        outline: none;
        border-color: var(--accent-secondary80);
        box-shadow: -2px 4px 73px -2px var(--secondary30);
    }
}

button{
    padding: 10px;
    width: fit-content;
    border-radius: 10px;

    &:disabled{
        opacity: 0.2;
        cursor: not-allowed;
    }

    &.primary{
        background: var(--button-primary50);

        &:hover:not(:disabled){
            background: var(--button-primary100);
            box-shadow: -2px 4px 73px -2px var(--button-primary50);
        }
    }

    &.secondary{
        background: var(--button-secondary60);

        &:hover:not(:disabled){
            background: var(--button-secondary100);
            box-shadow: -2px 4px 73px -2px var(--button-secondary50);
        }
    }

    &.warning{
        background: var(--button-warning40);

        &:hover:not(:disabled){
            background: var(--button-warning100);
            box-shadow: -2px 4px 73px -2px var(--button-warning20);
        }
    }

    &.info{
        background: var(--button-info60);

        &:hover:not(:disabled){
            background: var(--button-info100);
            box-shadow: -2px 4px 73px -2px var(--button-info20);
        }
    }

    &.success{
        background: var(--button-success30);

        &:hover:not(:disabled){
            background: var(--button-success80);
            box-shadow: -2px 4px 73px -2px var(--button-success60);
        }
    }

    &.error{
        background: var(--button-error30);

        &:hover:not(:disabled){
            background: var(--button-error80);
            box-shadow: -2px 4px 73px -2px var(--button-error60);
        }
    }
}

.card{
    background: var(--secondary20);
    border: 2px solid var(--accent-secondary15);
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: -2px 4px 73px -2px var(--secondary10);
}
