.buzzer-play-section{
    .buzzer-play-container{
        display: flex;
        gap: 40px;

        .secondary-container{
            display: flex;
            gap: 40px;
            width: 100%;
        }

        .play-container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .command-container{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                padding: 30px 20px;
            }

            .command-container{
                row-gap: 50px;

                .buzz-controls{
                    grid-column: span 3;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;

                    .buzzer-button-container{
                        display: flex;
                        flex-direction: row;
                        gap: 25px;
                    }

                    .locked-buzzer-indicator, .unlocked-buzzer-indicator{
                        padding: 10px;
                        width: fit-content;
                        border-radius: 10px;
                    }

                    .locked-buzzer-indicator{
                        background: red;
                    }

                    .unlocked-buzzer-indicator{
                        background: var(--button-success60);
                    }

                    .resolve-buzzer-container, .button-state-container{
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                    }

                    .resolve-buzzer-container{
                        .correct-button, .false-button{
                            width: 44px;
                        }
                    }
                }

                .host-text-container{
                    grid-column: span 3;
                }

                .player-text-container{
                    grid-column: span 3;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .player-text-lock-button-container{
                        display: flex;
                        justify-content: center;
                        gap: 10px;
                    }

                    .text-container{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 20px;
                        justify-content: center;

                        .player-text{
                            min-width: 25%;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            .name-container{
                                display: flex;
                                gap: 10px;

                                button{
                                    line-height: 0;
                                    font-size: 16px;
                                    width: 30px;
                                    height: 30px;

                                    &::after{
                                        font-size: 16px;
                                        line-height: 1.5;
                                    }
                                }
                            }
                            .name{
                                text-align: center;
                                align-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
